.basic__information {
    padding-top: 32px;

    .basic__information__main {
        display: flex;
        justify-content: space-between;

        .basic__information__main__categories {
            display: flex;
            flex-direction: column;
            max-width: 280px;
            width: 100%;

            .basic__information__main__categories__element {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                @media (max-width: 768px) {
                    padding: 15px 0;
                }

                &:hover {
                    span {
                        color: #0656B4;
                    }

                    div {
                        color: #0656B4;
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    color: #767676;
                }

                div {
                    padding: 8px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: right;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #767676;
                    background: #FFFFFF;
                    border-radius: 10px;
                }
            }

            @media (max-width: 768px) {
                max-width: none;
                order: 2;
            }
        }

        @media (max-width: 768px) {
            width: 100%;
            flex-wrap: wrap;
        }

        .basic__information__main__description {
            width: calc(100% - 280px - 50px);

            @media (max-width: 1000px) {
                width: calc(100% - 280px - 10px);
            }

            @media (max-width: 768px) {
                width: 100%;
                order: 1;

                h3 {
                    font-size: 23px;
                    line-height: 24px;
                    margin-top: 32px;
                    margin-bottom: 16px;
                    text-align: center;
                }
            }

            .basic__information__main__description__flex {
                display: flex;
                gap: 16px;
                margin-top: 16px;

                .basic__information__main__description__flex__element {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 24px;
                    background: #FFFFFF;
                    box-shadow: 0px 7px 13px rgba(49, 71, 129, 0.07);
                    border-radius: 10px;
                    width: 100%;

                    .basic__information__main__description__flex__element__el {
                        width: 50%;

                        div {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 31px;
                            line-height: 36px;
                            color: $baseColor;

                            &._blue {
                                color: #0656B4;
                            }
                        }

                        span {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            color: #767676;
                        }
                    }
                }

                &:nth-child(3) {
                    .basic__information__main__description__flex__element {
                        &:nth-child(2) {
                            width: 25%;
                            @media (max-width: 768px) {
                                width: 100%;
                            }
                            .basic__information__main__description__flex__element__el {
                                width: 100%;
                            }
                        } 
                    }
                }

                .basic__information__main__description__flex__element{
                    @media (max-width: 540px) {
                        flex-wrap: wrap;
                        row-gap: 10px;
                    }

                    @media (max-width: 420px) {
                        .basic__information__main__description__flex__element__el {
                            width: 100%;
                            div {
                                text-align: center;
                            }
                            span {
                                text-align: center;
                                display: block;
                            }
                        }
                    }
                }

                @media (max-width: 1000px) {
                    &:nth-child(2) {
                        flex-wrap: wrap;
                    }
                }

                @media (max-width: 768px) {
                    flex-wrap: wrap;
                }
            }
        }
    }
}
